$color-lime: #00ff00;
$color-red: #ff0000;
$color-coffee: #f7cb7375;
$color-gray: #afd6ee75;
$color-brown: #f7737375;
$color-purple: #5d57c9;
$color-teal: #008080;
$color-crimson: #dc143c;
$color-black: #000000;
$color-shade: #808080;