.container {
  position: fixed;
}

.item {
  background: linear-gradient(to top, #182237, #253352);
  padding: rem(20px) rem(24px);
  border-radius: rem(10px);
  margin-bottom: rem(20px);
  position: relative;
//   max-width: rem(400px);
//   width: 100%;
}

.imageContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}

.image {
  object-fit: contain;
  opacity: 0.2;
}

.text {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
}

.notification {
  font-weight: bold;
}

.subtitle {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: rem(12px);
}

.description {
  color: var(--secondary-text);
  font-size: rem(14px);
}

.button {
  padding: rem(10px);
  display: flex;
  align-items: center;
  gap: rem(10px);
  width: max-content;
  background-color: $color-purple;
  color: var(--background);
  border: none;
  border-radius: rem(5px);
  cursor: pointer;
}
