.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(20px);
  border-radius: rem(10px);
  background-color: var(--background-secondary);
}

.title {
  color: var(--secondary-text);
  font-weight: bold;
  text-transform: capitalize;
}

.content {
  display: flex;
  align-items: center;
  gap: rem(20px);
}

.search {
  display: flex;
  align-items: center;
  gap: rem(10px);
  background-color: var(--background-tertiary);
  padding: rem(10px);
  border-radius: rem(10px);
}

.input {
  background-color: transparent;
  border: none;
  color: var(--primary-text);
  outline: none;
}

.icons {
  display: flex;
  gap: rem(20px);
}
